body {
  background-color: #333;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
  width: 100%;
}

select {
  border: 0;
  width: 100%;
}

input {
  width: 100%;
}
